# Core Libraries
fastapi[all]
pydantic
git+https://github.com/runpod/runpod-python.git

# Image Processing Libraries
opencv-python-headless
Pillow
scikit-image

# Machine Learning Libraries
accelerate
basicsr
einops
gradio
kornia
numpy
omegaconf
pytorch_lightning
realesrgan
safetensors
timm
torch
torchdiffeq
torchsde
transformers

# CLI and Development Utilities
GitPython
pyngrok

# Web and Networking Libraries
httpcore
httpx
inflection
jsonmerge

# Miscellaneous Libraries
blendmodes
clean-fid
lark
piexif
psutil
resize-right
tomesd
facexlib
open-clip-torch
spandrel

# Direct Git Dependencies
# These dependencies are directly cloned from GitHub. Ensure the specified commits/tags are compatible.
git+https://github.com/TencentARC/GFPGAN.git@8d2447a2d918f8eba5a4a01463fd48e45126a379
git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3b
